* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

section {
    background-color: #009900;
    width: 40%;
    margin: 0 auto;
    overflow: auto;
    border: 4px solid #663300;
    border-radius: 10px;
}

section div {
    float: left;
    padding: 30px;
    width: 50%;
    overflow: auto;
}

.card {
    background-color: #fff;
    border: 1px solid #333333;
    border-radius: 3px;
    width: 50%;
    text-align: center;
    float: left;
    font-size: 0.75rem;
    min-height: 150px;
}

section div.winner {
    width: 100%;
    color: #CC0000;
    text-align: center;
    font-size: 1.25rem;
}

h2 {
    color: #CC0000; font-size: 1.5rem;
}

p {
    font-size: 0.75rem;
    text-align: center;
}